@mixin centerFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}


accu-weather{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    // color: yellow;
    background: #000;
    width: 100%;
    height: 100%;
    display:flex !important;
    justify-content:flex-start;
    align-items: center;
    
    & > .generalInfo1{
        display:flex;
        justify-content: center;
        align-items: center;
        width:20%;
        height:100%;
        // backgrqound: red;

        & > img {
            height: auto;
            width: 100%;
            scale:2;
        }
    }
    & > .generalInfo2{
        display:flex;
        justify-content: flex-start;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        width:22.5%;
        height:100%;
        border-right: 1px solid white;
        border-image: linear-gradient(rgba(0,0,0,0), white, white,rgba(0,0,0,0)) 0 100%;
        padding-right: 2.5%;
        // background: blue;

        & > .imgIcon{
            @include centerFlex();
            flex-direction: column;
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-top: 30%;

            & > img {
                width: 0%;
                scale: 0;
                
                &:first-of-type{
                    width: 100%;
                    scale: 1;
                    transition: scale 1s cubic-bezier(0.34, 1.56, 0.64, 1) ;
                }
            }
        }
        & > .imgDesc{
            @include centerFlex();
            flex-direction: column;
            width: 100%;
            height: auto;
            // background: red;
            // padding-left: 12.5%;
            
            div{
                @include centerFlex();
                flex-direction: column;

                p {
                    margin: 0 auto;
    
                    &:first-of-type{
                        // font-size: 9rem;
                        font-size: 8rem;
                        // font-size: 19vh;
                    }
                    &:last-of-type{
                        font-size: 3rem;
                        // font-size: 7vh;
                    }
                }
                span{
                        font-size : 3rem;
                        margin-left : -2.5rem;
                        // font-size : 7vh;
                        // margin-left : -7.5vh;
                        // color: #808080;
                        color: #686763;
                        // color: #BABABA;
                }
            }

        }
    }
    & > .generalInfo3{
        @include centerFlex();
        flex-direction: column;
        width:55%;
        // width:53.5%;
        height:100%;
        // padding-left: 1.25%;
        font-weight: bold;
        // padding-left: 2.5%;

        // background: green;

        & > .miscCont{
            @include centerFlex();
            height: 50%;
            width: 100%;
            border-width: 0;
            border-bottom: 2px solid white;
            border-image: radial-gradient(white, rgba(0,0,0,0)) 70 30;
            // border-image: linear-gradient(rgba(0,0,0,0), white, white,rgba(0,0,0,0)) 0 100%;

            & > div {
                @include centerFlex();
                flex-direction: column;
                height: 100%;
                width: 50%;
                text-align: center;

                &:first-of-type{
                    // background: red;
                    margin-left: 1.25%;
                    margin-right: 1.25%;
                    border-right: 1px solid white;
                    border-image: linear-gradient(rgba(0,0,0,0), white, white,rgba(0,0,0,0)) 0 100%;
                }

                & > div {
                    @include centerFlex();
                    height: 50%;
                    width: 100%;
                    
                    & > .imgIcon{
                        @include centerFlex();
                        height: 100%;
                        width: 40%;
                        
                        img{
                            height: auto;
                            width: 100%;
                        }
                    }
                    
                    & > .imgDesc{
                        @include centerFlex();
                        height: 100%;
                        width: 60%;
                        font-size: 2rem;
                    }

                    & > .cDateStatus{
                        font-size: 8rem;
                        text-decoration: underline;
                        text-decoration-color: #2077c3;
                    }

                }

                .windSpeed{
                    .Calm{
                        &::before{
                           content:"Calm";
                           font-size: 3rem;
                       }
                    }
                    .Breeze{
                        &::before{
                           content:"Breeze";
                           font-size: 2.75rem;
                       }
                    }
                    .Strong{
                        &::before{
                           content:"Strong";
                           font-size: 3.25rem;
                       }
                    }
                    .Gale{
                        &::before{
                           content:"Gale";
                           font-size: 4rem;
                       }
                    }
                    .Storm{
                        &::before{
                           content:"Storm";
                           font-size: 3.5rem;
                       }
                    }
                    .Typhoon{
                         &::before{
                            content:"Typhoon";
                            font-size: 2.5rem;
                        }
                    }
                }
                .rainChance{
                    .High{
                        &::before{
                            content:"High Chance";
                            font-size: 3rem;
                         }
                    }
                    .Likely{
                        &::before{
                            content:"Likely";
                            font-size: 3.5rem;
                         }
                    }
                    .Low{
                        &::before{
                            content:"Low Chance";
                            font-size: 2.5rem;
                         }
                    }
                    .Unlikely{
                        &::before{
                            content:"Very Low";
                            font-size: 3.5rem;
                         }
                    }
                }
                .uvIndex{
                    .Extreme{
                        &::before{
                            content:"Extreme";
                            font-size: 3rem;
                         }
                    }
                    .VeryHigh{
                        &::before{
                            content:"Very High";
                            font-size: 3rem;
                         }
                    }
                    .High{
                        &::before{
                            content:"High";
                            font-size: 4rem;
                         }
                    }
                    .Moderate{
                        &::before{
                            content:"Moderate";
                            font-size: 2.5rem;
                         }
                    }
                    .Low{
                        &::before{
                            content:"Low";
                            font-size: 4rem;
                         }
                    }
                }

            }
        }
        & > .hourlyCont{
            @include centerFlex();
            height: 50%;
            width: 100%;
            // background: blue;

            & > div{
                @include centerFlex();
                flex-direction: column;

                height: 100%;
                width: 33%;
                // background: red;
                // border-right: 1px solid white;
                // border-image: linear-gradient(rgba(0,0,0,0), white, white,rgba(0,0,0,0)) 0 1%;

                

            }
            .imgDesc1 {
                p{
                    font-size: 4rem;
                    margin: 0;
                }
            }
            
            .imgIcon {
                @include centerFlex();
                width: 100%;
                
                img {
                    height: auto;
                    width: 70%;
                }
            }
            
            .imgDesc2 {
                p {
                    font-size: 3rem;
                    margin: 0;
                }
            }
        }


    }

/*     & > .generalCont{
        display:block;
        width:100%;
        height:50%;

        & > .generalInfo1{
            float:left;
            width:40%;
            height:100%;
            overflow:hidden;
            box-sizing:border-box;

            & >.imgCont{
                float: left ;
                height: 100% ;
                width: 50% ;
                display: flex ;
                align-items : center ;
                flex-direction : column; 

                & > img {
                    display: flex ;
                    justify-content : center ;
                    flex-direction : column ;
                    height : 100% ;
                }
            }
            & >.imgDesc{
                float: right ;
                height: 100% ;
                width: 50% ;
                display: flex ;
                align-items : center ;
                flex-direction : column ;

                & > div {
                    display: flex ;
                    justify-content : center ;
                    flex-direction : column ;
                    min-height : 100% ;

                    p {
                        margin: 0 auto;

                        &:first-of-type{
                            font-size: 6rem;
                        }
                        &:last-of-type{
                            font-size: 1.75rem;
                        }
                    }
                    span{
                         font-size : 2.5rem;
                         margin-left : -2rem 
                    }
                }
            }

        }
    }

    & > .generalContUpdate{
        & > .generalInfo1{
            & > .imgCont{
                & > img:first-of-type{
                    height: 0%;
                    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
                }
            }
            & > .imgDesc{
                & > div:first-of-type{
                    min-height: 0%;
                    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
                    p, span{
                        transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
                        font-size: 0rem;
                    }
                }
            }
        }

    } */
} 